-#  This file is app/views/movies/schedules.html.haml

%h3= "Use this page to edit your schedule!"

- @schedule.acts.each do |act|
  %table{:id => "act"+act.number.to_s}
    %thead
      %tr
        %th= "Act #{act.number}"
    %tbody{:class => "sortable", "data-url" => sort_performances_path}
      - @ordered_performances[act.number].each do |perf|
        %tr{:id => dom_id(perf)}
          %td
            = perf.name + " scheduled: " + perf.scheduled.to_s + " locked: " + perf.locked.to_s