-#  This file is app/views/movies/index.html.haml

-#- if @schedules.empty?
-#  %h3= "Looks like you don't have any schedules yet! Click the button to upload your first one!"
-#- else
-#  %h2= "Schedules" 

= link_to 'Upload a new Schedule CSV File', new_schedule_path, class: "btn btn-primary"
