/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.bg {
  background-color: #D7DEF1;
}
.body {
    font-family:'Avenir LT W01 65 Medium';
}
.nav {
    font-family:'Avenir LT W01 65 Medium';
    background-color: #1D3558;
    text-align: center;
    color: white;
}
.center {
  margin: auto;
  padding: 10px;
}

.actHeader {
  font-family:'Avenir LT W01 65 Medium';
  background-color: #1D3558;
  text-align: center;
  color: white;
  font-size: large;
  border: 1px solid black;
}
.actFormat {
  border: 1px solid black;
  padding: 5px;
  width: 65%;
}

.droppable-hover {
  background: #1D3558;
}

.floatLeft { 
  width: 60%; float: left; 
}
.floatRight {
  width: 40%; float: right; 
}

.floatLeftButton { 
  width: 50%; float: left; 
}
.floatRightButton {
  width: 50%; float: right; 
}

.floatLeftA { 
  width: 50%; float: left; 
}
.floatRightA {
  width: 50%; float: right; 
}
